<!-- Navigation -->
    <nav class="navbar navbar-light bg-light navbar-fixed-top">
      <div class="container">
        <a class="navbar-brand" [routerLink]="['/']" style="font-family: Impact;font-size: 32px; color: #55535b">
          <!--<img style="width: 60px;height: 60px" src="../../../images/insurance-jela.png">-->
          <img style="width: 50% " src="../../../assets/img/sjelenomnaputtrans.png">
        </a>
      </div>
    </nav>



<!--img style="width: 70% " src="../../../assets/img/sjelenomnaput.png">-->
