<!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto mpo_div">
            <h1 class="mb-5">Međunarodno putno osiguranje. <br/> Ove godine putuješ sigurno!</h1>
            <button pButton class="ui-button-primary btn_insurance" type="submit" icon="fa-heartbeat" label="KUPI" [routerLink]="['/insurance']"></button>

          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          </div>
        </div>
      </div>
    </header>

    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-screen-desktop m-auto text-primary"></i>
              </div>
              <h3>Web Osiguranje</h3>
              <p class="lead mb-0">Osigurajte sebe i svoju imovinu putem interneta i uštedite vreme.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-layers m-auto text-primary"></i>
              </div>
              <h3>Polise</h3>
              <p class="lead mb-0">Lako i brzo saznajte sve potrebne informacije o našoj ponudi.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-check m-auto text-primary"></i>
              </div>
              <h3>Lako za upotrebu</h3>
              <p class="lead mb-0">Naš sistem je stvoren samo za Vas i uvek smo Vam na raspolaganju.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Image Showcases -->
    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">

          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-1.jpg');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Porodična polisa</h2>
            <p class="lead mb-0">Ovom polisom mogu se osigurati samo roditelji i deca. Namenjena je tročlanim, četvoročlanim ili petočlanim porodicama sa maloletnom decom, ne mlađom od 6 meseci, (roditelji sa jednim detetom, dvoje ili troje dece) koje putuju zajedno i istovremeno. Prilikom ugovaranja porodičnih polisa međunarodnog putnog osiguranja obezbeđeni su popusti u odnosu na cene koje se primenjuju za individualne polise. Za dve osobe koje putuju na jednoj porodičnoj polisi popust je 10%, za tri 20%, a ako putuje četiri ili pet osoba popust iznosi 30%.</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-2.jpg');"></div>
          <div class="col-lg-6 my-auto showcase-text">
            <h2>Potpuna zaštita Vašeg vozila</h2>
            <p class="lead mb-0">Bilo da vaše motorno vozilo koristite za lične potrebe ili za potrebe posla kojim se bavite, poželjno je da ga obezbedite od potencijalnih nemilih događaja koji vam se mogu desiti na putu. Najbolja i najpouzdanija zaštita motornih vozila na jednom mestu.</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-3.jpg');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Putujte i uživajte u putovanju bez brige</h2>
            <p class="lead mb-0">Tokom turističkog ili poslovnog boravka u inostranstvu, nepredviđeni zdravstveni problemi mogu vam poremetiti planove. Mi vam pomažemo da takve situacije prevaziđete.</p>
            <br/>
            <p class="lead mb-0">Ukoliko vam se na putovanju desi nesrećni slučaj, bolest, ili se ukaže potreba za neodložnom hirurškom intervencijom i boravkom u bolnici, uz našu polisu međunarodnog putnog osiguranja bićete adekvatno zbrinuti.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Testimonials -->
    <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">Šta mušterije kažu o nama...</h2>
        <div class="row">
          <div class="col-lg-3">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-1.jpg" alt="">
              <h5>Jelena Janković</h5>
              <p class="font-weight-light mb-0">"Svaki put kad sam putovala sa Jelenom bilo mi je divno!"</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-2.jpg" alt="">
              <h5>Stevan Kosijer</h5>
              <p class="font-weight-light mb-0">"Supruga i ja svake godine putujemo sa Jelenom."</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-3.jpg" alt="">
              <h5>Filip Dušić</h5>
              <p class="font-weight-light mb-0">"Ja ne znam zašto vi mene uopšte intervjuišete. Za koji je ovo sajt?"</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-4.png" alt="">
              <h5>Milan Babić</h5>
              <p class="font-weight-light mb-0">"Žena i ja smo oduševljeni Jelenom. Nemam šta da kažem, sve najbolje!"</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Call to Action -->
    <section class="call-to-action text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4">I dalje ne možeš da odlučiš? <br/> Dozvoli nam da opravdamo tvoje poverenje!</h2>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          </div>
        </div>
      </div>
    </section>
