<div class="container-fluid forms-container">
  <p-steps [model]="items" [(activeIndex)]="activeIndex" styleClass="steps-custom"></p-steps>
  <br>
  <hr>
  <!-- DIV za prvi korak -->
  <div class="container" style="padding: 40px" *ngIf="activeIndex == 0" align="center">
    <form [formGroup]="form1" class="form-horizontal step-1-form">
      <div class="form-group">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-3">
            <label class="control-label">Region:</label>
          </div>
          <div class="col-lg-4">
            <p-dropdown [options]="destinacije" formControlName="destinacija" [(ngModel)]="form1Data.destinacija" [style]="{'width':'400px'}"></p-dropdown>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-3">
            <label class="control-label">Vrsta osiguravajućeg paketa:</label>
            <br>
          </div>
          <div class="col-lg-4">
            <p-dropdown [options]="vrstePaketa" formControlName="vrstaPaketa" [(ngModel)]="form1Data.vrstaPaketa" [style]="{'width':'400px'}"></p-dropdown>
          </div>
        </div>
      </div>

      <!--Polje koje se odnosi samo na individualni osiguravajuci paket-->
      <div [hidden]="form1.value.vrstaPaketa === 'grupno'">
        <div class="form-group">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-3">
              <label class="control-label">Uzrast lica koje putuje: </label>
              <br>
            </div>
            <div class="col-lg-4">
              <p-dropdown [options]="starostLabela" formControlName="starost" [(ngModel)]="form1Data.starost" [style]="{'width':'400px'}"></p-dropdown>
            </div>
          </div>
        </div>
      </div>
      <!--****************************************************************-->

      <!--Tri dodatna polja pri odabiru grupnog osiguravajuceg paketa-->
      <div [hidden]="form1.value.vrstaPaketa === 'individualno'">
        <div class="form-group" *ngFor="let s of starosti">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-3">
              <label class="control-label">{{s.vrednost}}</label>
              <br>
            </div>
            <div class="col-lg-4">

              <p-spinner formControlName="{{s.vrednost}}" ngModel [min]="0" [max]="10"></p-spinner>

            </div>
          </div>
        </div>
        <!--<div class="form-group">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-3">
              <label class="control-label">Broj starijih lica (71 - vise):</label>
              <br>
            </div>
            <div class="col-lg-4">

              <p-spinner formControlName="brojStarijih" [(ngModel)]="form1Data.brojStarijih" [min]="0"
                         [max]="10"></p-spinner>

            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-3">
              <label class="control-label">Broj odraslih (19 - 70 godina):</label>
              <br>
            </div>
            <div class="col-lg-4">
              <p-spinner formControlName="brojOdraslih" [(ngModel)]="form1Data.brojOdraslih" [min]="0"
                         [max]="10"></p-spinner>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-3">
              <label class="control-label">Broj dece (0 - 18 godina):</label>
              <br>
            </div>
            <div class="col-lg-4">

              <p-spinner formControlName="brojDece" [(ngModel)]="form1Data.brojDece" [min]="0" [max]="10"></p-spinner>

            </div>
          </div>
        </div>-->
      </div>
      <!--****************************************************************-->

      <div class="form-group">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-3">
            <label class="control-label">Početak osiguranja:</label>
            <br>
          </div>

          <div class="col-lg-4">
            <p-calendar formControlName="pocetakOsiguranja" [(ngModel)]="form1Data.pocetakOsiguranja" styleClass="pocetakOsiguranjaCalendarClass"
              [showIcon]="true"></p-calendar>


          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-3">
            <label class="control-label">Trajanje osiguranja (u danima):</label>
            <br>
          </div>

          <div class="col-lg-4">
            <p-spinner readonly formControlName="trajanjeOsiguranja" [(ngModel)]="form1Data.trajanjeOsiguranja" [min]="1" [max]="100"></p-spinner>

          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-3">
            <label class="control-label">Svrha osiguranja</label>
            <br>
          </div>
          <div class="col-lg-4">
            <p-dropdown [options]="svrhaOsiguranja" formControlName="svrhaOsiguranja" [(ngModel)]="form1Data.svrhaOsiguranja" [style]="{'width':'400px'}"></p-dropdown>
          </div>
        </div>
      </div>


      <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="step1_button_div">
          <button pButton [disabled]="!form1.valid" class="ui-button-warning" (click)="stepSubmit()" type="submit" label="Sledeci korak"></button>
          <p-growl [(value)]="msgs"></p-growl>

        </div>
      </div>
    </form>
  </div>


  <!-- DIV za drugi korak -->
  <div class="container" style="padding: 20px" *ngIf="activeIndex == 1" align="right">


    <div style="margin-top: 20px;" align="center">
      <button pButton class="ui-button-primary" type="text" [disabled]="brojOsiguranika == 0" (click)="onShowInsuranceDialog()"
        label="Dodaj osiguranika {{'('+brojOsiguranika+')'}}" icon="fa-plus"></button>
    </div>

    <!-- KRECE DIV KADA NIJE UNEO NOSIOCA: -->

    <p-dialog [(visible)]="showNosilacDialog">
      <p-header>
        Izaberite nosioca osiguranja
      </p-header>
      <div class="container-fluid">
        <form [formGroup]="formNosilac" class="form-horizontal" style="width: 500px;">
          <div class="form-group">
            <div class="row">
              <div class="col-lg-1"></div>
              <div class="col-lg-4">
                <label class="control-label pull-left">Nosilac osiguranja:</label>
              </div>
              <div class="col-md-3">
                <p-radioButton formControlName="potencijalniNosilac" name="group1" inputId="opt1" value="osiguranik" label="Osiguranik" [(ngModel)]="potencijalniNosilac"></p-radioButton>
              </div>
              <div class="col-md-3">
                <p-radioButton formControlName="potencijalniNosilac" name="group1" inputId="opt2" value="drugo_lice" label="Drugo lice" [(ngModel)]="potencijalniNosilac"></p-radioButton>
              </div>
            </div>
          </div>

          <div class="form-group" [hidden]="potencijalniNosilac !== 'osiguranik'">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">Izaberite nosioca: </label>
                <br>
              </div>
              <div class="col-lg-8">
                <p-dropdown [options]="osobe_labels" [style]="{'width':'300px'}" formControlName="osobe" [(ngModel)]="formNosilacData.osobe"></p-dropdown>
              </div>
            </div>
          </div>

          <div class="form-group" [hidden]="potencijalniNosilac !== 'osiguranik' && potencijalniNosilac !== 'drugo_lice'" [ngClass]="displayFieldCssFormNosilac('emailNosioca')">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label required">Email:</label>
                <br>
              </div>
              <div class="col-lg-8">
                <input class="form-control" required email formControlName="emailNosioca" [(ngModel)]="formNosilacData.emailNosioca" type="text">
                <app-field-error-display [displayError]="isFieldValidFormNosilac('emailNosioca')" errorMsg="Unesite validnu email adresu (npr: p@p.com)."></app-field-error-display>
              </div>
            </div>
          </div>



          <!--dajhbhasdgjJHJHJHDHGDJHS-->


          <div class="form-group" [hidden]="potencijalniNosilac !== 'drugo_lice'" [ngClass]="displayFieldCssFormNosilac('ime')">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label required">Ime:</label>
                <br>
              </div>
              <div class="col-lg-8">
                <input class="form-control" required [(ngModel)]="formNosilacData.ime" type="text" formControlName="ime">
                <app-field-error-display [displayError]="isFieldValidFormNosilac('ime')" errorMsg="Ime nosioca osiguranja je obavezno."></app-field-error-display>
              </div>
            </div>
          </div>
          <div class="form-group" [hidden]="potencijalniNosilac !== 'drugo_lice'" [ngClass]="displayFieldCssFormNosilac('prezime')">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label required">Prezime:</label>
                <br>
              </div>
              <div class="col-lg-8">
                <input class="form-control" formControlName="prezime" required [(ngModel)]="formNosilacData.prezime" type="text">
                <app-field-error-display [displayError]="isFieldValidFormNosilac('prezime')" errorMsg="Prezime nosioca osiguranja je obavezno."></app-field-error-display>
              </div>
            </div>
          </div>
          <div class="form-group" [hidden]="potencijalniNosilac !== 'drugo_lice'" [ngClass]="displayFieldCssFormNosilac('jmbg')">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label required">JMBG:</label>
                <br>
              </div>
              <div class="col-lg-8">
                <input class="form-control" minlength="13" maxlength="13" required formControlName="jmbg" [(ngModel)]="formNosilacData.jmbg"
                  type="text">
                <app-field-error-display [displayError]="isFieldValidFormNosilac('jmbg')" errorMsg="Unesite validan JMBG nosioca osiguranja."></app-field-error-display>
              </div>
            </div>
          </div>
          <div class="form-group" [hidden]="potencijalniNosilac !== 'drugo_lice'" [ngClass]="displayFieldCssFormNosilac('adresa')">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label required">Adresa:</label>
                <br>
              </div>
              <div class="col-lg-8">
                <input class="form-control" required formControlName="adresa" [(ngModel)]="formNosilacData.adresa" type="text">
                <app-field-error-display [displayError]="isFieldValidFormNosilac('adresa')" errorMsg="Adresa nosioca osiguranja je obavezna."></app-field-error-display>
              </div>
            </div>
          </div>
          <div class="form-group" [hidden]="potencijalniNosilac !== 'drugo_lice'" [ngClass]="displayFieldCssFormNosilac('brojPasosa')">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label required">Broj pasosa:</label>
                <br>
              </div>
              <div class="col-lg-8">
                <input class="form-control" required minlength="9" maxlength="9" formControlName="brojPasosa" [(ngModel)]="formNosilacData.brojPasosa"
                  type="text">
                <app-field-error-display [displayError]="isFieldValidFormNosilac('brojPasosa')" errorMsg="Broj pasosa nosioca osiguranja je obavezan. Unesite tacno 9 cifara."></app-field-error-display>
              </div>
            </div>
          </div>
          <div class="form-group" [hidden]="potencijalniNosilac !== 'drugo_lice'">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">Broj telefona:</label>
                <br>
              </div>
              <div class="col-lg-8">
                <input class="form-control" required pattern="[0-9]" formControlName="brojTelefona" [(ngModel)]="formNosilacData.brojTelefona"
                  type="text">
              </div>
            </div>
          </div>


          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div align="center">
              <button pButton class="ui-button-primary" type="submit" icon="fa-plus" (click)="dodajNosioca()" label="Dodaj"></button>
            </div>
          </div>
        </form>
      </div>
    </p-dialog>

    <!-- GOTOV -->

    <p-dialog [(visible)]="showInsuranceDialog">
      <p-header>
        Novi osiguranik
      </p-header>
      <div class="container-fluid">
        <form [formGroup]="form2" class="form-horizontal" style="width: 500px;">
          <div class="form-group" [ngClass]="displayFieldCssForm2('ime')">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label required">Ime:</label>
                <br>
              </div>
              <div class="col-lg-8">
                <input class="form-control" required [(ngModel)]="form2Data.ime" type="text" formControlName="ime">
                <app-field-error-display [displayError]="isFieldValidForm2('ime')" errorMsg="Ime osiguranika je obavezno."></app-field-error-display>
              </div>
            </div>
          </div>
          <div class="form-group" [ngClass]="displayFieldCssForm2('prezime')">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label required">Prezime:</label>
                <br>
              </div>
              <div class="col-lg-8">
                <input class="form-control" required formControlName="prezime" [(ngModel)]="form2Data.prezime" type="text">
                <app-field-error-display [displayError]="isFieldValidForm2('prezime')" errorMsg="Prezime osiguranika je obavezno."></app-field-error-display>
              </div>
            </div>
          </div>
          <div class="form-group" [ngClass]="displayFieldCssForm2('jmbg')">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label required">JMBG:</label>
                <br>
              </div>
              <div class="col-lg-8">
                <input class="form-control" formControlName="jmbg" minlength="13" maxlength="13" required [(ngModel)]="form2Data.jmbg" type="text">
                <app-field-error-display [displayError]="isFieldValidForm2('jmbg')" errorMsg="Unesite validan JMBG osiguranika."></app-field-error-display>
              </div>
            </div>
          </div>
          <div class="form-group" [ngClass]="displayFieldCssForm2('adresa')">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label required">Adresa:</label>
                <br>
              </div>
              <div class="col-lg-8">
                <input class="form-control" required formControlName="adresa" [(ngModel)]="form2Data.adresa" type="text">
                <app-field-error-display [displayError]="isFieldValidForm2('adresa')" errorMsg="Adresa osiguranika je obavezna."></app-field-error-display>
              </div>
            </div>
          </div>
          <div class="form-group" [ngClass]="displayFieldCssForm2('brojPasosa')">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label required">Broj pasosa:</label>
                <br>
              </div>
              <div class="col-lg-8">
                <input class="form-control" required minlength="9" maxlength="9" formControlName="brojPasosa" [(ngModel)]="form2Data.brojPasosa"
                  type="text">
                <app-field-error-display [displayError]="isFieldValidForm2('brojPasosa')" errorMsg="Broj pasosa osiguranika je obavezan. Unesite tacno 9 cifara."></app-field-error-display>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">Broj telefona:</label>
                <br>
              </div>
              <div class="col-lg-8">
                <input class="form-control" pattern="[0-9]" formControlName="brojTelefona" [(ngModel)]="form2Data.brojTelefona" type="text">
              </div>
            </div>
          </div>

          <div class="form-group" *ngIf="canBeInsuranceHolder">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">Nosilac osiguranja:</label>
                <br>
              </div>
              <div class="col-lg-8">
                <p-checkbox styleClass="checkboxStyle" name="groupname" value="jeste" (onChange)="nosiocOsiguranjaChange($event)"></p-checkbox>
              </div>
            </div>
          </div>

          <div class="form-group" *ngIf="enterEmailBoolean && canBeInsuranceHolder" [ngClass]="displayFieldCssForm2('emailNosioca')">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label required">Email:</label>
                <br>
              </div>
              <div class="col-lg-8">
                <input class="form-control" email formControlName="emailNosioca" [(ngModel)]="form2Data.emailNosioca" type="text">
                <app-field-error-display [displayError]="isFieldValidForm2('emailNosioca')" errorMsg="Unesite validnu email adresu (npr: p@p.com)."></app-field-error-display>
              </div>
            </div>
          </div>



          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div align="center">
              <button pButton [disabled]="!form2.valid" class="ui-button-primary" type="submit" icon="fa-plus" (click)="dodajOsiguranika()"
                label="Dodaj"></button>
            </div>
          </div>
        </form>
      </div>
    </p-dialog>

    <!--PRIKAZ PODATAKA O OSIGURANICIMA-->
    <div style="margin-top: 20px" [hidden]="osobe.length === 0">
      <p-dataTable [value]="osobe" [responsive]="true" [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,15]">

        <p-header>Putna osiguranja</p-header>
        <!-- ako zelis da dodas search polja ubaci [filter]="true" filterPlaceholder="Search" -->
        <p-column *ngFor="let col of osobeKolone" [field]="col.field" [header]="col.header"></p-column>

        <p-column styleClass="col-button" [style]="{width: '65px', 'text-align': 'center'}">
          <ng-template pTemplate="header">
            <header>Obriši</header>
          </ng-template>
          <ng-template let-formaPutnoOsiguranje="rowData" pTemplate="body">
            <button type="button" class="ui-button-danger" (click)="obrisiOsiguranika(formaPutnoOsiguranje)" pButton icon="fa-trash"
              iconPos="left"></button>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>






    <div class="form-group" align="center">
      <label class="col-md-3 control-label"></label>
      <div>
        <button pButton class="ui-button-warning" type="text" (click)="secondStepPrevious()" label="Prethodni korak"></button>
        <button pButton class="ui-button-warning" type="submit" (click)="secondStepSubmit()" label="Sledeci korak"></button>
      </div>
    </div>
  </div>


  <!--DIV ZA TRECI KORAK-->
  <div *ngIf="activeIndex == 2" class="container" style="padding: 20px" align="right">

    <div align="center" style="margin-top: 30px;">
      <h3>Na brz i jednostavan način odaberite neka od dodatnih osiguranja</h3>
    </div>

    <div style="margin-top: 20px;" align="center">
      <button pButton class="ui-button-primary" type="text" (click)="onShowCarDialog()" label="Osiguranje vozila" icon="fa-car"></button>
      <button pButton class="ui-button-primary" type="text" (click)="onShowHomeDialog()" label="Osiguranje nekretnine" icon="fa-home"></button>
    </div>

    <!-- Dijalozi za dodavanje novih osiguranja -->
    <p-dialog [(visible)]="showCarDialog">
      <p-header>
        Novo osiguranje vozila
      </p-header>
      <div class="container-fluid">
        <form [formGroup]="form3" class="form-horizontal" style="width: 500px;">
          <div class="form-group" [ngClass]="displayFieldCssForm3('markaITip')">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label required">Marka i tip vozila:</label>
              </div>
              <div class="col-lg-8">
                <input class="form-control" formControlName="markaITip" [(ngModel)]="form3Data.markaITip" type="text">
                <app-field-error-display [displayError]="isFieldValidForm3('markaITip')" errorMsg="Marka i tip vozila su obavezni."></app-field-error-display>
              </div>
            </div>
          </div>
          <div class="form-group" [ngClass]="displayFieldCssForm3('godinaProizvodnje')">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label required">Godina proizvodnje:</label>
                <br>
              </div>
              <div class="col-lg-8">
                <input class="form-control" formControlName="godinaProizvodnje" [(ngModel)]="form3Data.godinaProizvodnje" type="text">
                <app-field-error-display [displayError]="isFieldValidForm3('godinaProizvodnje')" errorMsg="Godina proizvodnje vozila je obavezna."></app-field-error-display>
              </div>
            </div>
          </div>
          <div class="form-group" [ngClass]="displayFieldCssForm3('brojTablica')">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label required">Broj tablica:</label>
                <br>
              </div>
              <div class="col-lg-8">
                <input class="form-control" formControlName="brojTablica" [(ngModel)]="form3Data.brojTablica" type="text">
                <app-field-error-display [displayError]="isFieldValidForm3('brojTablica')" errorMsg="Broj tablica vozila je obavezan."></app-field-error-display>
              </div>
            </div>
          </div>
          <div class="form-group" [ngClass]="displayFieldCssForm3('brojSasije')">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label required">Broj šasije:</label>
                <br>
              </div>
              <div class="col-lg-8">
                <input class="form-control" formControlName="brojSasije" [(ngModel)]="form3Data.brojSasije" type="text">
                <app-field-error-display [displayError]="isFieldValidForm3('brojSasije')" errorMsg="Broj sasije je obavezan."></app-field-error-display>
              </div>
            </div>
          </div>
          <div class="form-group" [ngClass]="displayFieldCssForm3('imeVlasnika')">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label required">Ime vlasnika:</label>
                <br>
              </div>
              <div class="col-lg-8">
                <input class="form-control" formControlName="imeVlasnika" [(ngModel)]="form3Data.imeVlasnika" type="text">
                <app-field-error-display [displayError]="isFieldValidForm3('imeVlasnika')" errorMsg="Ime vlasnika vozila je obavezno."></app-field-error-display>
              </div>
            </div>
          </div>
          <div class="form-group" [ngClass]="displayFieldCssForm3('prezimeVlasnika')">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label required">Prezime vlasnika:</label>
                <br>
              </div>
              <div class="col-lg-8">
                <input class="form-control" formControlName="prezimeVlasnika" [(ngModel)]="form3Data.prezimeVlasnika" type="text">
                <app-field-error-display [displayError]="isFieldValidForm3('prezimeVlasnika')" errorMsg="Prezime vlasnika vozila je obavezno."></app-field-error-display>
              </div>
            </div>
          </div>
          <div class="form-group" [ngClass]="displayFieldCssForm3('jmbgVlasnika')">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label required">JMBG Vlasnika:</label>
                <br>
              </div>
              <div class="col-lg-8">
                <input class="form-control" required minlength="13" maxlength="13" formControlName="jmbgVlasnika" [(ngModel)]="form3Data.jmbgVlasnika" type="text">
                <app-field-error-display [displayError]="isFieldValidForm3('jmbgVlasnika')" errorMsg="Unesite validan JMBG vlasnika vozila."></app-field-error-display>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">Paket osiguranja:</label>
                <br>
              </div>
              <div class="col-lg-8">
                <p-dropdown [options]="paketiOsiguranja" formControlName="paketOsiguranja" [(ngModel)]="form3Data.paketOsiguranja" [style]="{'width':'100%'}"></p-dropdown>
              </div>
            </div>
          </div>
          <!--Opciona polja u zavisnosti od izbora paketa osiguranja-->
          <div class="form-group" [hidden]="form3.value.paketOsiguranja !== 'slepovanje'">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">Broj kilometara za šlepovanje: </label>
                <br>
              </div>
              <div class="col-lg-8">
                <p-spinner size="35" formControlName="slepovanje" [(ngModel)]="form3Data.slepovanje" [min]="1" [max]="10000"></p-spinner>
              </div>
            </div>
          </div>
          <div class="form-group" [hidden]="form3.value.paketOsiguranja !== 'popravka'">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">Cena popravke (dinari): </label>
                <br>
              </div>
              <div class="col-lg-8">
                <p-spinner size="35" formControlName="popravka" [(ngModel)]="form3Data.popravka" [min]="1" [max]="1000000"></p-spinner>
              </div>
            </div>
          </div>
          <div class="form-group" [hidden]="form3.value.paketOsiguranja !== 'smestaj'">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">Smeštaj u hotelu (dani): </label>
                <br>
              </div>
              <div class="col-lg-8">
                <p-spinner size="35" formControlName="smestaj" [(ngModel)]="form3Data.smestaj" [min]="1" [max]="1000000"></p-spinner>
              </div>
            </div>
          </div>

          <div class="form-group" [hidden]="form3.value.paketOsiguranja !== 'prevoz'">
            <div class="row">
              <div class="col-lg-4">
                <label class="control-label">Vrsta alternativnog prevoza: </label>
                <br>
              </div>
              <div class="col-lg-8">
                <p-dropdown [options]="vrsteAlternativnogPrevoza" formControlName="prevoz" [(ngModel)]="form3Data.prevoz" [style]="{'width':'100%'}"></p-dropdown>
              </div>
            </div>
          </div>
          <!--**********************************************************-->
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div align="center">
              <button pButton [disabled]="!form3.valid" class="ui-button-primary" type="submit" (click)="dodajOsiguranjeVozila()" label="Dodaj osiguranje vozila"></button>
            </div>
          </div>
        </form>
      </div>
    </p-dialog>
    <p-dialog header="Novo osiguranje nekretnine" [(visible)]="showHomeDialog">
      <form [formGroup]="form4" class="form-horizontal" style="width: 500px;">
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">Površina stana (m2):</label>
            </div>
            <div class="col-lg-8">
              <p-spinner size="35" formControlName="povrsinaStana" [(ngModel)]="form4Data.povrsinaStana" [min]="1" [max]="5000"></p-spinner>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">Starost stana:</label>
            </div>
            <div class="col-lg-8">
              <p-dropdown [options]="starostiStana" formControlName="starostStana" [(ngModel)]="form4Data.starostStana" [style]="{'width':'100%'}"></p-dropdown>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">Procenjena vrednost stana:</label>
            </div>
            <div class="col-lg-8">
              <p-dropdown [options]="procenjeneVrednostiStana" formControlName="procenjenaVrednostStana" [(ngModel)]="form4Data.procenjenaVrednostStana"
                [style]="{'width':'100%'}"></p-dropdown>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label">Od cega se osigurava:</label>
            </div>
            <div class="col-lg-8">
              <p-dropdown [options]="osiguranjaStana" formControlName="osiguranjeStana" [(ngModel)]="form4Data.osiguranjeStana" [style]="{'width':'100%'}"></p-dropdown>
            </div>
          </div>
        </div>
        <div class="form-group" [ngClass]="displayFieldCssForm4('imeVlasnika')">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label required">Ime vlasnika:</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control" required formControlName="imeVlasnika" [(ngModel)]="form4Data.imeVlasnika" type="text">
              <app-field-error-display [displayError]="isFieldValidForm4('imeVlasnika')" errorMsg="Ime vlasnika nekretnine je obavezno."></app-field-error-display>
            </div>
          </div>
        </div>
        <div class="form-group" [ngClass]="displayFieldCssForm4('prezimeVlasnika')">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label required">Prezime vlasnika: </label>
              <br>
            </div>
            <div class="col-lg-8">
              <input class="form-control" required formControlName="prezimeVlasnika" [(ngModel)]="form4Data.prezimeVlasnika" type="text">
              <app-field-error-display [displayError]="isFieldValidForm4('prezimeVlasnika')" errorMsg="Prezime vlasnika nekretnine je obavezno."></app-field-error-display>
            </div>
          </div>
        </div>
        <div class="form-group" [ngClass]="displayFieldCssForm4('jmbgVlasnika')">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label required">JMBG Vlasnika: </label>
              <br>
            </div>
            <div class="col-lg-8">
              <input class="form-control" required minlength="13" maxlength="13" formControlName="jmbgVlasnika" [(ngModel)]="form4Data.jmbgVlasnika"
                type="text">
              <app-field-error-display [displayError]="isFieldValidForm4('jmbgVlasnika')" errorMsg="Unesite validan JMBG vlasnika nekretnine."></app-field-error-display>
            </div>
          </div>
        </div>
        <div class="form-group" [ngClass]="displayFieldCssForm4('adresaVlasnika')">
          <div class="row">
            <div class="col-lg-4">
              <label class="control-label required">Adresa vlasnika:</label>
            </div>
            <div class="col-lg-8">
              <input class="form-control" required formControlName="adresaVlasnika" [(ngModel)]="form4Data.adresaVlasnika" type="text">
              <app-field-error-display [displayError]="isFieldValidForm4('adresaVlasnika')" errorMsg="Adresa vlasnika nekretnine je obavezna."></app-field-error-display>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div align="center">
            <button pButton [disabled]="!form4.valid" class="ui-button-primary" type="submit" (click)="dodajOsiguranjeNekretnine()" label="Dodaj osiguranje nekretnine"></button>
          </div>
        </div>
      </form>
    </p-dialog>

    <!--PRIKAZ PODATAKA O OSIGURANJIMA VOZILA-->
    <div style="margin-top: 20px" [hidden]="osiguranjaVozila.length === 0">
      <p-dataTable [value]="osiguranjaVozila" [responsive]="true" [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,15]">

        <p-header>Osiguranja vozila</p-header>
        <!--ako zelis da dodas search polja ubaci [filter]="true" filterPlaceholder="Search"-->
        <p-column *ngFor="let col of osiguranjaVozilaKolone" [field]="col.field" [header]="col.header"></p-column>

        <p-column styleClass="col-button" [style]="{width: '65px', 'text-align': 'center'}">
          <ng-template pTemplate="header">
            <header>Obriši</header>
          </ng-template>
          <ng-template let-formaOsiguranjaVozila="rowData" pTemplate="body">
            <button type="button" class="ui-button-danger" (click)="obrisiOsiguranjeVozila(formaOsiguranjaVozila)" pButton icon="fa-times"
              iconPos="left"></button>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>

    <!--PODACI O OSIGURANJU NEKRETNINA-->
    <div style="margin-top: 20px" [hidden]="osiguranjaNekretnina.length === 0">
      <p-dataTable [value]="osiguranjaNekretnina" [responsive]="true" [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,15]">

        <p-header>Osiguranja nekretnina</p-header>
        <!--ako zelis da dodas search polja ubaci [filter]="true" filterPlaceholder="Search"-->
        <p-column *ngFor="let col of osiguranjaNekretninaKolone" [field]="col.field" [header]="col.header"></p-column>

        <p-column styleClass="col-button" [style]="{width: '65px', 'text-align': 'center'}">
          <ng-template pTemplate="header">
            <header>Obriši</header>
          </ng-template>
          <ng-template let-formaOsiguranjaVozila="rowData" pTemplate="body">
            <button type="button" class="ui-button-danger" (click)="obrisiOsiguranjeNekretnine(formaOsiguranjaNekretnine)" pButton icon="fa-times"
              iconPos="left"></button>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>

    <div class="form-group" align="center">
      <label class="col-md-3 control-label"></label>
      <div>
        <button pButton class="ui-button-warning" type="text" (click)="previous()" label="Prethodni korak"></button>
        <button pButton class="ui-button-warning" type="submit" (click)="stepSubmit()" label="Sledeci korak"></button>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

<div *ngIf="activeIndex == 3">
  <div class="box-shadow container">
    <h3 align="center">Osiguranje - broj xxx</h3>
    <hr>
    <h4>Osigurana lica</h4>
    <br>
    <div class="container">
      <p-dataTable [value]="putnaOsiguranja">
        <p-column field="ime" header="Ime"></p-column>
        <p-column field="prezime" header="Prezime"></p-column>
        <p-column field="jmbg" header="JMBG"></p-column>
        <p-column field="brojPasosa" header="Broj pasoša"></p-column>
        <p-column field="adresa" header="Adresa"></p-column>
      </p-dataTable>
    </div>
    <br>
    <h5>Nosilac osiguranja</h5>
    <br>
    <h5>Putno osiguranje</h5>
    <br>
    <div class="container">
      <p>
        Osiguranje važi za region
        <mark>{{form1Data.destinacija}}</mark>. Datum početka važenja je
        <mark>{{form1Data.pocetakOsiguranja | date: 'dd.MM.yyyy.'}}</mark>, u trajanju od
        <mark>{{form1Data.trajanjeOsiguranja}}</mark> dan/a.
      </p>
      <p>
        Paket osiguranja je
        <mark>{{form1Data.vrstaPaketa}}</mark> osiguranje. Svrha putovanja je
        <mark>{{form1Data.svrhaOsiguranja}}</mark>.
      </p>
    </div>
    <br>
    <div *ngIf="osiguranjaNekretnina.length !== 0">
      <h5>Osiguranja nekretnina</h5>
      <div class="container">
        <p-dataTable [value]="osiguranjaNekretnina">
          <p-header>Podaci o vlasniku</p-header>
          <p-column field="imeVlasnika" header="Ime"></p-column>
          <p-column field="prezimeVlasnika" header="Prezime"></p-column>
          <p-column field="jmbgVlasnika" header="JMBG"></p-column>
          <p-column field="adresaVlasnika" header="Adresa"></p-column>
        </p-dataTable>
        <br>
        <p-dataTable [value]="osiguranjaNekretnina">
          <p-header>Podaci o nekretnini</p-header>
          <p-column field="povrsinaStana" header="Površina"></p-column>
          <p-column field="starostStana" header="Starost"></p-column>
          <p-column field="procenjenaVrednostStana" header="Procenjena vrednost"></p-column>
        </p-dataTable>
      </div>
    </div>
    <hr>
    <br>
    <div *ngIf="osiguranjaVozila.length !== 0">
      <h5>Osiguranja vozila</h5>
      <div class="container">
        <p-dataTable [value]="osiguranjaVozila">
          <p-header>Podaci o vlasniku</p-header>
          <p-column field="imeVlasnika" header="Ime"></p-column>
          <p-column field="prezimeVlasnika" header="Prezime"></p-column>
          <p-column field="jmbgVlasnika" header="JMBG"></p-column>
          <p-column field="adresaVlasnika" header="Adresa"></p-column>
        </p-dataTable>
        <br>
        <p-dataTable [value]="osiguranjaVozila">
          <p-header>Podaci o vozilu</p-header>
          <p-column field="markaITip" header="Marka i tip"></p-column>
          <p-column field="godinaProizvodnje" header="Godina proizvodnje"></p-column>
          <p-column field="brojTablica" header="Broj tablica"></p-column>
          <p-column field="brojSasije" header="Broj šasije"></p-column>
        </p-dataTable>
      </div>

    </div>
    <button class="ui-button-success" style="display: block; margin: 0 auto;">PayPal</button>
  </div>
</div>
